.container-fluid {
    margin-bottom: 100px;
  }
  
  
  .top-navbar .logo {
    margin-left: 125px;
  }
  .top-navbar .navbar-collapse {
    align-items: center;
    margin-left: 420px;
  }
  .top-navbar .btn-danger {
    width: 110px;
  }
  .top-navbar .navbar li {
    margin-right: 30px;
  }
  .nav-link {
    color: black;
  }

  .hero-h2 {
    margin-top: 75px;
    margin-left: 125px;
    font-size: 42px;
  }
  .hero-texto {
    color: darkgray;
    font-size: 17px;
    margin-left: 125px;
  }
  .hero .btn-primary {
    background-color: rgb(85, 85, 245);
    margin-left: 125px;
    margin-right: 10px;
    font-size: 14px;
  }
  .hero #btn-white {
    font-size: 14px;
  }
  .hero-img {
    margin-right: 40px;
  }
  .hero-figura {
    background-color: rgb(85, 85, 245);
    width: 500px;
    height: 350px;
    margin-top: -320px;
    margin-left: 200px;
    border-bottom-left-radius: 35%;
  }

  .funcionalidades-h2 {
    margin-left: 580px;
    font-size: 30px;
  }
  .funcionalidades-texto1 {
    margin-left: 385px;
    font-size: 17.5px;
    color: darkgrey;
    margin-top: 10px;
    width: 500px;
  }
  .funcionalidades .tab {
    margin-left: 360px;
  }
  .funcionalidades .tab li {
    margin-right: 80px;
    font-size: 16px;
  }
  .funcionalidades .nav-link {
    color: rgb(85, 85, 245);
  }
  .funcionalidades img {
    margin-left: 125px;
    margin-top: 75px;
  }
  .funcionalidades-figura {
    background-color: rgb(85, 85, 245);
    width: 575px;
    height: 350px;
    margin-top: -260px;
    border-bottom-right-radius: 35%;
  }
  .funcionalidades-h3 {
    margin-left: 40px;
    margin-top: 130px;
  }
  .funcionalidades-texto2 {
    color: darkgray;
    margin-left: 40px;
    margin-right: 150px;
    font-size: 17px;
  }
  .funcionalidades .btn {
    background-color: rgb(85, 85, 245);
    margin-left: 40px;
    margin-top: 15px;
  }
  